In [2]:
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from sklearn.manifold import TSNE
from qiskit import *
import numpy as np
from qiskit.aqua.utils import split_dataset_to_data_and_labels, map_label_to_class_name
from qiskit.aqua import QuantumInstance
from qiskit.aqua.algorithms import VQC
from qiskit.aqua.algorithms import QSVM
from qiskit.circuit.library import ZZFeatureMap  


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import time
from sklearn.metrics import accuracy_score
import random
import math

In [16]:
path = "C:/Users/LENOVO/Downloads/Skin_NonSkin.txt"

with open(path,'r') as fp:
    lnes = fp.readlines()
    R = []
    G = []
    B = []
    label = []
    for line in lnes:
        line = line.split()
        R.append(int(line[0]))
        G.append(int(line[1]))
        B.append(int(line[2]))
        label.append(int(line[3]))

In [18]:
data = pd.DataFrame({'R':R,'G':G,'B':B,'skin':label})
data.head()

    R   G    B  skin
0  74  85  123     1
1  73  84  122     1
2  72  83  121     1
3  70  81  119     1
4  70  81  119     1

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245057 entries, 0 to 245056
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   R       245057 non-null  int64
 1   G       245057 non-null  int64
 2   B       245057 non-null  int64
 3   skin    245057 non-null  int64
dtypes: int64(4)
memory usage: 7.5 MB

In [23]:
data.describe()

                   R              G              B           skin
count  245057.000000  245057.000000  245057.000000  245057.000000
mean      125.065446     132.507327     123.177151       1.792461
std        62.255653      59.941197      72.562165       0.405546
min         0.000000       0.000000       0.000000       1.000000
25%        68.000000      87.000000      70.000000       2.000000
50%       139.000000     153.000000     128.000000       2.000000
75%       176.000000     177.000000     164.000000       2.000000
max       255.000000     255.000000     255.000000       2.000000

In [ ]:
skin = []
nt_skin = []
label = data['skin'].values
for e,j in enumerate(label):
    if j == 1:
        skin.append(data[["R","G","B"]].iloc[e])
    else: 
        nt_skin.append(data[["R","G","B"]].iloc[e])
skin = np.array(skin)
nt_skin = np.array(nt_skin)
print(len(skin),len(nt_skin))

MemoryError: Unable to allocate 5.61 MiB for an array with shape (3, 245057) and data type int64

           R     G      B  skin
0       74.0  85.0  123.0   1.0
1       73.0  84.0  122.0   1.0
2       72.0  83.0  121.0   1.0
3       70.0  81.0  119.0   1.0
4       70.0  81.0  119.0   1.0
...      ...   ...    ...   ...
245052   NaN   NaN    NaN   NaN
245053   NaN   NaN    NaN   NaN
245054   NaN   NaN    NaN   NaN
245055   NaN   NaN    NaN   NaN
245056   NaN   NaN    NaN   NaN

[245057 rows x 4 columns]

In [38]:
skin[0:10]

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: skin, dtype: bool

In [33]:
len(two)

194198

In [34]:
len(skin)

245057